{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="screen game-screen">
    <div class="table">

        <button class="game-btn" id="game-start">ယူမယ်</button>
        <button class="game-btn" id="game-stop">တော်ပြီ</button>
        {% for player in game.players %}
            <div class="player {{player.name|cut:" "}}" style="{% if player.name == username %}top: 680px;left:50%;transform: translate(-50%, -100%);{% endif %}" id="{{ player.name|cut:" " }}">
                {% for card in player.cards %}
                    <img src="/static/images/cards/{{card.img}}" alt="card-back" class="card back">
                {% endfor %}
                <span class="username">{{player.name}}</span>
            </div>
        {% endfor %}
        <img src="{% static 'images/back.png' %}" alt="deck" class="card deck">
    </div>
</section>
{% endblock content %}