{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="screen">
    <div class="welcome-block">
        <img src="{% static 'images/fire-flame.gif' %}" alt="Fire" class="fire-gif">
        <img src="{% static 'images/cards.png' %}" alt="Cards" class="card-png">
        <p class="welcome">ရှမ်းကိုးမီး</p>
        <button class="play-btn">ကစားမယ်</button>
        <div class="progress">
            <span class="progress-percent">0%</span>
            <div class="progress-value"></div>
        </div>
    </div>
    <div class="share-icons">
        <a href="#" class="fa-brands fa-facebook icon"></a>
        <a href="#" class="fa-brands fa-twitter icon"></a>
        <a href="https://github.com/maung-alive/shann-single-player" class="fa-brands fa-github icon"></a>
    </div>
</section>

{% endblock content %}