{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="play-screen screen">
    <img src="{% static 'images/cards.png' %}" alt="cards" class="cards-png" />
    <img src="{% static 'images/cards.png' %}" alt="cards" class="cards-png-top" />
    <form action="" class="form" method="POST">
        {% csrf_token %}
        <p class="heading">Pick an username for you</p>
        <p class="form-error"></p>
        <input type="text" name="username" id="username" value="{{ request.session.username }}" />

        <button class="button">Start</button>
    </form>
</section>

{% endblock content %}